<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>eIDAS Client Webapp</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <script src="js/bootstrap.min.js"/>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>eIDAS Client Login</h1>
            </div>
            <form action="login" method="post">
                <div class="form-group row">
                    <label for="country" class="col-sm-2 col-form-label col-form-label-sm">Country</label>
                    <div class="col-sm-4">
                        <select class="form-control" name="country" id="country">
                            <option th:each="country : ${countries}" th:value="${country}" th:text="${country}"/>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="loa" class="col-sm-2 col-form-label col-form-label-sm">Level of assurance</label>
                    <div class="col-sm-4">
                        <select class="form-control" name="loa" id="loa">
                            <option/>
                            <option th:each="loa : ${loas}" th:value="${loa}" th:text="${loa}"/>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="relayState" class="col-sm-2 col-form-label col-form-label-sm">Relay state</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" id="relayState" name="relayState" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>